[submodule "RaspBioloid-ControlPanel"]
	path = RaspBioloid-ControlPanel
	url = https://github.com/roncapat/RaspBioloid-ControlPanel.git
[submodule "RaspBioloid-Motors"]
	path = RaspBioloid-Motors
	url = https://github.com/lapo5/RaspBioloid-Motors.git
[submodule "RaspBioloid-Pico-msgs"]
	path = RaspBioloid-Pico-msgs
	url = https://github.com/roncapat/RaspBioloid-Pico-msgs.git
[submodule "RaspBioloid-Pico"]
	path = RaspBioloid-Pico
	url = https://github.com/roncapat/RaspBioloid-Pico.git
